<div class="container">
  <header>
    <div class="row">
      <div class="col">
        <a class="navbar-brand" href="index.html">
          <img src="../../../assets/images/MuzzlesLogo.png">
        </a>
      </div>
      <div class="col" style="font-family: Fugaz One;">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" style="color: #5F002B;" routerLink='/about'>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #5F002B;" routerLink="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #5F002B;" routerLink="/catering">Catering</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #5F002B;" routerLink="/photos">Photo</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>