#hero{
  background-image: url("../../../assets/images/cateringHero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40vh;
  
}
#hero2{
  background-image: url("../../../assets/images/cateringMaine.jpg");
  background-size: contain;
  height: 30vh;
  background-repeat: no-repeat;
}

#cater1{
  background-image: url("../../../assets/images/catering1.jpg");
  background-size: contain;
  height: 35vh;
  background-repeat: no-repeat;
}
#cater2{
  background-image: url("../../../assets/images/catering2.jpg");
  background-size: contain;
  height: 35vh;
  background-repeat: no-repeat;
}
#cater3{
  background-image: url("../../../assets/images/catering3.jpg");
  background-size: contain;
  height: 35vh;
  background-repeat: no-repeat;
}