<div class="container bg-light d-flex justify-content-center"
  style="font-size: 50px; margin-bottom: 40px; font-family: Fugaz One;">Our Menu
</div>

<div class="container">
  <div class="card-deck">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <img src="../../../assets/images/menubeef.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="font-family:Fugaz One">Sandwiches</h5>
            <h6 class="card-subtitle">All sandwiches come with a side of crispy fries.</h6>
            <br>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">
                    Sizzling Steak Sandwiches
                    <p><small>Open faced steak sandwich with grilled bellpeppers and fried onions.</small>
                    </p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$15.99</td>
                </tr>
                <tr>
                  <th scope="row">Tenderloin Sliders
                    <p><small>Three beef tenderloin sliders with horseradish cream and blackberry bbq.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$13.99</td>
                </tr>
                <tr>
                  <th scope="row">Classic Chicken Panini
                    <p><small>Grilled chicken with Monterey jack, romaine lettuce, tomato, and cilantro.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$10.99</td>
                </tr>
                <tr>
                  <th scope="row">Smoked Turkey Club
                    <p><small>Smoked deli turkey, maple bacon, cranberry aioli, lettuce and tomatoes.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$8.99</td>
                </tr>
                <tr>
                  <th scope="row">Tuna Sandwich
                    <p><small>Tuna salad with sprouts, sliced tomatoes and cilantro lime mayo on toast.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$6.99</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img src="../../../assets/images/menuseafood.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="font-family:Fugaz One">Seafood</h5>
            <h6 class="card-subtitle">All seafood comes with a side of rice pilaf and grilled vegetables.</h6>
            <br>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">
                    Honey Shrimp Skewers
                    <p><small>Ten honey glazed shrimp grilled with sesame seeds and rosemary.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$15.99</td>
                </tr>
                <tr>
                  <th scope="row">Grilled Salmon
                    <p><small>Salmon grilled in a lime butter sauce.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$13.99</td>
                </tr>
                <tr>
                  <th scope="row">Grilled Tilapia
                    <p><small>A whole grilled tilapia cooked with smoked paprika.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$10.99</td>
                </tr>
                <tr>
                  <th scope="row">Parmesean Fish Sticks
                    <p><small>Sliced salmon in parmesean breading served with lemon dill tartar sauce.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$8.99</td>
                </tr>
              </tbody>
            </table>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="margin-top: 35px">
        <div class="card">
          <img src="../../../assets/images/menumeat.jpg" class="card-img-top" alt="picture of ribs">
          <div class="card-body">
            <h5 class="card-title" style="font-family:Fugaz One">On the grill</h5>
            <h6 class="card-subtitle">Served with corn, cheddar biscuits and your choice of coleslaw or potato
              salad.</h6>
            <br>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Baby Back - Full Rack
                    <p><small>A full rack of pork babyback ribs grilled and glazed with blackberry bbq.</small>
                    </p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$19.99</td>
                </tr>
                <tr>
                  <th scope="row">Baby Back - Half Rack
                    <p><small>A half rack of pork babyback ribs grilled and glazed with blackberry bbq.</small>
                    </p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$13.99</td>
                </tr>
                <tr>
                  <th scope="row">Boneless Ribeye
                    <p><small>A three inch thick boneless ribeye grilled in a rosemary rub and butter.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$25.99</td>
                </tr>
                <tr>
                  <th scope="row">Smoked Turkey Club
                    <p><small>Smoked deli turkey, maple bacon, cranberry aioli, lettuce and tomatoes.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$8.99</td>
                </tr>
                <tr>
                  <th scope="row">Tuna Sandwich
                    <p><small>Tuna salad with sprouts, sliced tomatoes and cilantro lime mayo on toast.</small>
                    </p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$6.99</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-6" style="margin-top: 35px">
        <div class="card">
          <img src="../../../assets/images/menudesserts.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="font-family:Fugaz One">Desserts</h5>
            <h6 class="card-subtitle">A shot of espresso can be added to any dessert for an additional $2.</h6>
            <br>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Double Walnut Brownies
                    <p><small>Two brownies with a walnut crust, ice cream and chocolate sauce.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$8.99</td>
                </tr>
                <tr>
                  <th scope="row">Cheese Cake with Chocolate Sauce
                    <p><small>Cheesecake with ice cream, chocolate shavings and chocolate sauce.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$7.99</td>
                </tr>
                <tr>
                  <th scope="row">Tripe Chocolate Brownie
                    <p><small>A triple chocolate brownie served with vanilla ice cream and walnuts.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$6.99</td>
                </tr>
                <tr>
                  <th scope="row">House Made Shaved Gelato and Cookies
                    <p><small>Your choice of shaved gelato with whole cookies. Options change daily.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$5.99</td>
                </tr>
                <tr>
                  <th scope="row">Grilled Peaches and Ice Cream
                    <p><small>Grilled peaches in cinnamon and brown sugar glaze with ice cream.</small></p>
                  </th>
                  <td></td>
                  <td></td>
                  <td class="price">$4.99</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>