<div class="mb-5" alt="Restaurant Patio Area Picture">
  <img src="../../../assets/images/homeHero.jpg" alt="chairs">
</div>



<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    <div class="col-md-12 col-lg-5">
      <div class="frankieImgDiv">
        <img class="frankieImgStyle" src="../../../assets/images/homeSingle.jpg" alt="restaurant combo meal">
      </div>
    </div>

    <div class="col-md-12 col-lg-7">
      <div class="card frankieCard">
        <div class="card-body">
          <p class="card-title text-left frankieCardTitle frankieFont" style="font-family:Fugaz One">Muzzles Sandwiches
            & Grill</p>
          <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <img src="../../../assets/images/HomeImage.jpg" class="card-img-top frankieCardImg" alt="Restaurant Menu Items">
      </div>
    </div>
  </div>