.frankieCardText{
  padding-right: 64px;
  padding-bottom: 44px;
  padding-left: 40px;
  letter-spacing: 0px;
  font-size: 20px;
  line-height: 22px;
}

.pStyle{
  font-size: 50px;
  font-family: Fugaz One;
  max-width: 50vw;
}

.teamStyle{
  font-size: 50px; 
  margin-bottom: 40px; 
  margin-top: 55px; 
  font-family: Fugaz One;
}

.georgeStyle{
  font-family: Fugaz One;
}