<div class="container bg-light d-flex justify-content-center"
  style="font-size: 50px; margin-bottom: 45px; font-family: Fugaz One;">
  <div class="row">
    <div class="col">Photos</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo01.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo02.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo03.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo04.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo05.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo06.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo07.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo08.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo09.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo10.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo11.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem; ">
        <img src="../../../assets/images/photo12.jpg" class="card-img-top" alt="..." style="padding:9px;">
      </div>
    </div>
  </div>
</div>