<footer class="mt-5">
  <div class="container d-flex justify-content-between frankieFooterDiv">
    <div class="d-flex flex-column align-items-start justify-content-between">
      <p>1357 Mutt Street, Rottweiler CA, 12345</p>
      <p>Phone: 123-456-7890</p>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-between">
      <img src="../../../assets/images/CompanyLogo.png" class="frankieFooterImg" alt="Paw Print Company Log
      o">
      <p>Copyright © Muzzles Restaurant</p>
    </div>
  </div>

</footer>